/* Fondo de pantalla de la página principal */
body {
    background-image: url('../Resources/fondo-chicos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; /* Cambia center center a center top */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

/* Estilos para la página principal */
.welcome {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espacio interior para centrar verticalmente */
}

/* Estilo para el eslogan */
.titulo {
    font-size: 38px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centrar horizontalmente */
    color: #007bff; /* Color del texto, puedes ajustarlo según tus preferencias */
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra para dar profundidad */
    margin-top: 0; /* Elimina el margen superior */
}


/* Estilos para el nombre */
.nombre {
    font-size: 100px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    color: cadetblue; /* Cambia el color de texto a cadetblue */
    margin-bottom: 10px; /* Espacio inferior */
    text-transform: uppercase; /* Texto en mayúsculas */
    text-align: center; /* Centrar horizontalmente */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Efecto de sombra para dar profundidad */
    letter-spacing: 4px; /* Espaciado entre letras */
    background: linear-gradient(135deg, cadetblue, #FFC300); /* Fondo degradado */
    -webkit-background-clip: text; /* Clip de fondo para el texto */
    color: transparent; /* Color del texto transparente para que se muestre el fondo */
    user-select: none; /* Evita la selección de texto en este elemento */
    outline: none; /* Elimina el contorno alrededor del elemento */
}


/* Estilos para los subtítulos */
h2 {
    font-size: 40px;
    color: white;
    margin: 10px 0; /* Agrega espacio vertical entre los subtítulos */
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para el texto "Ganar dinero" */
.ganar-dinero {
    color: #28a745; /* Color verde */
    font-weight: bold;
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para el párrafo */
p {
    font-size: 30px; /* Cambia el tamaño de fuente de los párrafos */
    color: white;
    font-weight: bold;
    text-align: center; /* Centra el contenido horizontalmente */
    position: absolute; /* Establece la posición absoluta */
    bottom: 50px; /* 20px desde la parte inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Define el contorno */
}

/* Estilos para el botón */
.btn-primary {
    display: block; /* Para que ocupe todo el ancho */
    margin: 20px auto 0; /* Agrega espacio superior y centra horizontalmente */
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px; /* Espacio interior del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    text-align: center;
    position: absolute; /* Establece la posición absoluta */
    bottom: 20px; /* Alinea el botón en la parte inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
}

    /* Estilos para el botón al pasar el ratón */
    .btn-primary:hover {
        background-color: #0056b3; /* Cambia el color al pasar el ratón */
    }

    /* Estilos para el botón al hacer clic */
    .btn-primary:active {
        background-color: #003580; /* Cambia el color al hacer clic */
    }
